<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jonathan Doerr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="background-image: linear-gradient(to bottom right, #fff, #206bf4);">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent mb-3" style="z-index:1; font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; font-size:20px">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="font-size:20px">Jonathan Doerr</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px">
                                Projects<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="font-size:20px">
                                <li><a class="nav-link text-dark" asp-area="" asp-page="/TwitterRecord">Twitter Weather Record Bot</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-page="/Amazont">Chrome Extension: Amazon't</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-page="/Index">.NET Portfolio</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Index#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @*<div>
            <img class="container" style="
        padding-left: 0px;
        margin-top: -68px;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        padding-right: 0px;
        max-width: 100%;
        height: 100vh;
        /* object-fit: cover; */
        /* margin: 0 auto; */
    " src="/../lib/images/sg2.png">
        </div>*@
    </header>
    
    <header class="w3-display-container w3-wide" id="home">
        <img class="container" style="        padding-left: 0px;
        margin-top: -76px;
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        padding-right: 0px;
        max-width: 100%;
        height: 100vh;
        /* object-fit: cover; */
        /* margin: 0 auto; */
" src="/../lib/images/sg2.png">
            <div class="w3-display-middle w3-margin-top w3-center" style="top:40%">
                <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min" style="background-color: #1A2436 !important; font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; font-size: 65px">
                    Jonathan Doerr</span></h1>
            </div>
        </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top border-dark footer">
        <div class="container" style="padding-left: 45px; line-height:40px">
            &copy; 2020 - Jonathan Doerr
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
