@page
@model JonathanDoerr.com.Pages.Index1Model
@{
    ViewData["Title"] = "Amazon't";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h1>@ViewData["Title"]</h1> 

    <p>
        This is a Google Chrome Extension that I developed. What it does is, when on amazon.com, will display a html button that links
        the user to a website selling the product on the page they are currently on.
    </p>
    <img src=~/lib/images/amazont.png style="max-width:35%;" />
</body>