@page
@model JonathanDoerr.com.Pages.Index1Model
@{
    ViewData["Title"] = "Amazon't";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <p>
        This is a Google Chrome Extension that I developed. When on amazon.com, the extension will display a html button that links
        the user to a website selling the product on the page they are currently on. It can be found on the Chrome Web Store
        <a href="https://chrome.google.com/webstore/detail/amazont/hjnelefkkkimoeonflalbdldfjhpiiam">
            here</a>.
    </p>

    <a href="https://chrome.google.com/webstore/detail/amazont/hjnelefkkkimoeonflalbdldfjhpiiam">
        <img src="~/lib/images/combination.png" style="max-width: 130%; display: block; margin-left: -168px; margin-right: auto;" />
    </a>
</body>