@page
@model ProjectModel
@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>This is the page where I will outline all of my projects</p>
<img src=~/lib/images/weatherBot.png />
